# ==============================================================================
# Abiotic Factor Server Configuration
# ==============================================================================

# Server Browser Display Settings
SERVER_NAME=Abiotic Factor Facility
SERVER_PASSWORD=
WORLD_SAVE_NAME=Cascade
MAX_PLAYERS=6
IMAGE_REPOSITORY=hhxcusco/abiotic-server

# Network Port Configuration (UDP)
GAME_PORT=7777
QUERY_PORT=27015

# Advanced Engine & SteamCMD Flags
ADDITIONAL_ARGS=-useperfthreads -NoAsyncLoadingThread
APP_ID=2857200

# Optional Discord startup notification
DISCORD_WEBHOOK_URL=